@charset "utf-8";
/* CSS Document */
* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
	border-style: none;
	list-style-type: none;
	box-sizing: border-box;
}

body {

	
}

main {
	
	width:100%;
	display: block;


}

#headerimg {
	
	margin:auto auto 20px auto;
	width:1400px;
	
}

#headerbutton a {
	font-size:20px;
	color:#E78903;
	padding:40px 70px 40px 70px;
	vertical-align: middle;
	border:#E78903 1px solid;
	border-radius:6px;
	position:absolute;
	margin-left: 375px;
	margin-top:100px;
	background-color:#fff;
	opacity:0.7;
	text-decoration:none;
	

}



#headerbutton a:hover {
	
	border:1px solid #000;
	
	
}


header {
	
	width:100%;
	
}

#sectionwrapper {
	
	width:1400px;
	margin:auto auto 50px auto;
}

#logo {
	
	margin:10px 50px;
}

#donate {
	float:right;
}
#primary {
	border-bottom: #458DD0 1px solid;
	border-top: #458DD0 1px solid;
	background-color: #000;
	font-weight:normal;
}

#primary ul {
	
	height:70px;
	align-items:center;
	width: 800px;
	margin:auto;
	display:flex;
	justify-content: space-around;
	
}

#primary li a {
	font-family: 'Montserrat', sans-serif;
	
}



#primary a {
	text-decoration: none;
	font-size: 18px;
	color:#fff;
	
}

#primary a:hover {
	border-bottom: 2px solid #fff;
}
#primary a:active {
	
	border-bottom:2px solid #fff;
}


#hiddennav {
	display:flex;
	height:50px;
	align-items:center;
	width: 650px;
	margin:auto;
	justify-content: space-around;

}

nav {

	height:70px;
}

#hiddennav li {
	font-size:16px;
	
}

#hiddennav a {
	color:#fff;
}

#hiddennav a:hover {
	color:#fff;
	border-bottom:2px solid #fff;
	text-decoration:none;
}

#secondnav {

	width:100%;
}

#navappear {
	
	

}
section {
	margin:10px auto;

}


#wrapper {
	max-width:100%;

	
}

#quadwrap {
	max-width:1500px;
	display:flex;
	margin: auto;
	height:auto;
	justify-content:space-around;
}

#quadwrap img {
	display:block;
	margin:auto;
	max-width:100%;
	
}

#left {

	height:300px;
	width:300px;
	
}

#mid {
	
	height:300px;
	width:300px;
	
	
}

#right {

	height:300px;
	width:300px;
	
}

#farright {
	
	height:100%;
	width:300px;
	
		
	
}
#farright ul {

	height:auto;
	width:300px;
	margin:auto;
	display:block;
	padding: 5px 10px;

	
	
}
#newsletter a{
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
#newsletter {
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
.centertext {
	width:50%;
	margin:auto;
}

#farright li {
	align-items:center;
	padding-left: 40px;
	line-height: 40px;
	background: url("images/penguin-icon.png") 0 50% no-repeat;
	
}

.topnav .search-container {
  float: right;
	margin-top:-60px;

}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
	border: 1px solid #6E8EE5;
	border-right:none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #6E8EE5;
	border-left:none;
  cursor: pointer;
}

.search-container {
	
	
	
}

.affix {
      top: 0;
      width: 100%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexbox {
	display:flex;
	width:600px;
}

footer {

	display:table;
	width:100%;
	height: 38px;
	bottom:0;
	border-top:1px solid #24668B;
	padding:0px 15px 0px;
	position:fixed;
	background-color:#24668B;
}

#footercontent {

	height:25px;
	position:inline;
	vertical-align: middle;
	display:flex;
	margin-left:50px;
	float:left;
	width:200px;
	justify-content:space-between;

}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#social {


	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
}

footer img:hover {


}
#social {
	
	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	color:#E78903;
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
}

footer img:hover {


}
