@charset "utf-8";
/* CSS Document */
* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
	border-style: none;
	list-style-type: none;
	box-sizing: border-box;
	 
}

html {
	overflow-y:scroll;
	min-width: 1100px;
}

body  {
	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	z-index: -1;
	background-image:url(images/Penguinbg.png);
	background-position:top;
}



main {
	width:100%;
	display: block;




}

#headerimg {
	
	margin:auto auto 20px auto;
	width:1400px;
	
}



#headerbutton a {
	font-size:20px;
	color:#E78903;
	padding:40px 70px 40px 70px;
	vertical-align: middle;
	border:#E78903 1px solid;
	border-radius:6px;
	position:absolute;
	margin-left: 375px;
	margin-top:100px;
	background-color:#fff;
	opacity:0.7;
	text-decoration:none;
	

}



#headerbutton a:hover {
	
	border:1px solid #000;
	
	
}


header {
	
	width:100%;
	
}

#sectionwrapper {
	
	width:1400px;
	margin:auto auto 50px auto;
}

#logo {
	
	margin:10px 50px;
}

#donate {
	float:right;
	margin:10px 50px;
}
#primary {
	border-bottom: #458DD0 1px solid;
	border-top: #458DD0 1px solid;
	background-color: #000;
	font-weight:normal;
}

#primary ul {
	
	height:70px;
	align-items:center;
	width: 800px;
	margin:auto;
	display:flex;
	justify-content: space-around;
	
}

#primary li a {
	font-family: 'Montserrat', sans-serif;
	
}



#primary a {
	text-decoration: none;
	font-size: 18px;
	color:#fff;
	
}

#primary a:hover {
	border-bottom: 2px solid #fff;
}
#primary a:active {
	
	border-bottom:2px solid #fff;
}


#hiddennav {
	display:flex;
	height:50px;
	align-items:center;
	width: 650px;
	margin:auto;
	justify-content: space-around;

}

nav {

	height:70px;
}

#hiddennav li {
	font-size:16px;
	
}

#hiddennav a {
	color:#fff;
}

#hiddennav a:hover {
	color:#fff;
	border-bottom:2px solid #fff;
	text-decoration:none;
}

#secondnav {

	width:100%;
}

#navappear {
	
	

}
section {
	margin:10px auto;
	

}


#wrapper {
	max-width:100%;
	
}

#quadwrap {
	max-width:1500px;
	display:flex;
	margin: auto;
	height:auto;
	justify-content:space-around;
}

#quadwrap img {
	display:block;
	margin:auto;
	max-width:100%;
	
}

#left {
position:relative;
	height:300px;
	width:300px;
	
}

#mid {
	position:relative;
	height:300px;
	width:300px;
	
	
}

#right {
position:relative;
	height:300px;
	width:300px;
	
}

#farright {
	
	height:100%;
	width:300px;
	
		
	
}
#farright ul {

	height:auto;
	width:300px;
	margin:auto;
	display:block;
	padding: 5px 10px;

	
	
}

#triwrap {
	max-width:1100px;
	display:flex;
	margin: auto;
	height:auto;
	justify-content:space-around;
}

#eduleft {
	width:300px;
	
}

#edumid {
	width:300px;
	
}

#eduright {
	width:300px;
	
}

#educationimg {
	width:950px;
	margin:40px auto 30px auto;
	
}


#newsletter a{
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
#newsletter {
	width:250px;
	font-size:20px;
	text-align:center;
	color:#E8A537;
}
.centertext {
	width:50%;
	margin:auto;
}

#farright li {
	align-items:center;
	padding-left: 40px;
	line-height: 40px;
	background: url("images/penguin-icon.png") 0 50% no-repeat;
	
}

 .topnav .search-container {
  float: right;
	margin-top:-60px;

}

 .topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
	border: 1px solid #6E8EE5;
	border-right:none;
}

 .topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: 1px solid #6E8EE5;
	border-left:none;
  cursor: pointer;
}

.search-container {
	
	
	
}

affix {
      top: 0;
      width: 100%;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flexbox {
	display:flex;
	width:600px;
}

footer {

	display:table;
	width:100%;
	height: 38px;
	bottom:0;
	border-top:1px solid #24668B;
	padding:0px 15px 0px;
	position:fixed;
	background-color:#24668B;
}

#footercontent {

	height:25px;
	position:inline;
	vertical-align: middle;
	display:flex;
	margin-left:50px;
	float:left;
	width:200px;
	justify-content:space-between;

}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#social {


	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
}

footer img:hover {


}
#social {
	
	float:right;
	display:flex;
	justify-content:space-around;
	margin-right: 15px;
}

#social li {
	padding: 0 9px 0 9px;
	
}


footer li {
	color:#E78903;
}

#footercontent a:hover {
	text-decoration:underline;
	font-size:12px;
	
}
footer a {
	text-decoration: none;
	color:#fff;
}

footer img:hover {


}

a .active{
	color:#FFAE00;
}


#aboutflex {
	width:1000px;
	margin:50px auto auto auto;
	display:flex;
	justify-content: space-around;
}

#aboutright {
	width:400px;
}

#aboutright h1 {
	font-size:24px;
	color:#FFA614;
	padding-left: 15px;
}

#aboutright li {
	list-style-type:circle;
	line-height:150%;
}

#aboutright ul {
	
	margin-left: 25px;
}

#aboutright p{
padding: 15px 15px 15px 15px;
}

#aboutleft {

	width:400px;
}

#aboutleft img {
	margin-top:10px;
}

#contactflex {
	width:1000px;
	margin:auto;
	display:flex;

	justify-content: space-around;
}

#contactright {
	width:400px;
	padding: 15px 15px 15px 15px;
}



#contactleft {
	padding: 15px 15px 15px 15px;
	width:400px;
	
}
#contactright h1 {
	font-size:24px;
	color:#FFA614;
}

#contactright h2 {
	font-size:18px;
	color:#FFA614;
}

#contactleft h1 {
	font-size:24px;
	color:#FFA614;
}


#lpflex {
	width:1200px;
	margin:50px auto auto auto;
	display:flex;
	justify-content: space-around;
	
}

#lpright p {
	
}

#lpright {
	padding: 15px 15px 15px 15px;
	width:700px;
	color:#000;
}

#lpright h1 {
	font-size:24px;
	color:#ffa614;
	
}

#lpright h2 {
	font-size:18px;
	color:#ffa614;
	
}

#lpright ul {
	margin-left:15px;
	
}

#lpright li {
	list-style-type:circle;
	line-height:150%;
	
}



#lpleft {
	padding: 15px 15px 15px 15px;
	width:400px;
}

#lph1 {
	font-size:24px;
	color:#FFA614;
	padding-left: 15px;
	
}
iframe {
	margin-top:40px;
	height:300px;
	width:500px;
	
}

span form h1 {
	padding: 0px;
	font-size:20px;
	margin-top: 20px;
	margin-bottom: 5px;
	color:#B3A64D;

}

span form {
	padding: 6px;
	width:300px;
}


span textarea {
	font-size:17px;
	height:145px;
	width: 300px;
	max-width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;
}

#input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;
}

span input[type=text]:focus {
    background-color: #BCD19B;
}

span input[type=comment]:focus {
    background-color:#BCD19B;
}

span input[type=comment] {
	height:150px;
	width: 300px;
    padding:12px 20px;
    margin: 8px 0px;
	box-sizing: border-box;
	text-align: inherit;
	outline:1px solid #c0a26c;
}

span button[type=button], input[type=submit], input[type=reset] {
    color: #000;
	width: 150px;
    padding: 16px 32px;
	background-color:#fff;
    text-decoration: none;
    cursor: pointer;
	outline:1px solid #945905;
}

span button:hover {

}

#giwrap {
	width:1300px;
	margin:50px auto auto auto;
	justify-content: space-around;
	display:flex;

}

#gileft {

	
}

#giright img {

}

#gimid img {

}

#gimid {
	width:350px;
	height:260px;
}

#giright {
	height:260px;
	width:300px;
	
}

.bottom {
	
	margin-top:39px;
}

.donate {
	width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	outline:1px solid #945905;

}

#donateflex {
	width:1000px;
	margin:auto;
	justify-content: space-around;
	display:flex;
}

#donateleft {
	
	width:300px;
}

#topleftdonate {
	
	
}

#radio input[type=radio] {

	
}

#radio ul {
	width:300px;
	margin:auto;
	display:flex;
	justify-content: space-between;
}
#donatemid {
	
	width:300px;
}

#donateright {
	width:300px;
	
}

#donateright span button {
	width:300px;
	outline:1px solid #945905;
	margin-top:25px;
	background-color:#AA844F;
}

#donateright h1{
font-size:24px;
	color:#FFA614;

		
}

#donatemid h1{
font-size:24px;
	color:#FFA614;

		
}

#donateleft h1{
font-size:24px;
	color:#FFA614;

		
}

#paymethods {
	
	width:250px;
	margin:auto;
	
}